{%  extends "@EasyAdmin/page/content.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h3 class="jumbotron" style="text-align:center;">
                Bienvenue dans l'espace d'administration
            </h3>
        </div>

        <div class="row">

        </div>

    </div>
{% endblock %}