<footer class="text-center haut">
    <div class="container p-4 pb-0">
        <div class="row">
            <div class="col-md-12">
                <section style="display: flex; justify-content: center; gap: 10px;">
                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/andree_bertetti?igsh=MWsyN2ltd" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                </section>
            </div>
        </div>
    </div>

    <hr style="margin: 20px 0; border: 0; border-top: 1px solid black;">

    <div class="container-fluid p-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="img-fluid photos" src="{{ asset('divers/images/logo.png') }}" alt="Logo du site" style="height: 130px;">
                </div>
            </div>
        </div>

        <hr style="margin: 20px 0; border: 0; border-top: 1px solid black;">

      
            <div class="col-md-12 text-center p-1 bas">
                © 2024-2030 Copyright:
                <a class="text-body copy" href="https://mdbootstrap.com/">lesateliersdandrée.fr</a>
            </div>
        
    </div>
</footer>
