{% extends 'base.html.twig' %}

{% block title %}
	rubrik
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="container">
			<div class="row respace ">


				{% for posts in posts %}


					<a class="col-md-2 rpost skill text-decoration-none  rbox "  href="{{path('show', {'slug':posts.slug, id: posts.id})}}">


						<div class="row">
							{% if posts.image1 is not empty %}
								<div class="p-0 hr">


									<img class="img-fluid rimg" src="{{ asset('divers/images/' ~ posts.image1) }}" alt="Image du post"/>

								</div>
							{% endif %}


							<div class="col-md-12 mt-4 rdate ">

								{{ posts.createdAt|date('D d M Y') }}
							</div>

							<div class="col-md-12  zushow ">

								{{ posts.title }}
							</div>


						</div>


					</a>

				{% endfor %}


			</div>
		</div>
	</div>


{% endblock %}
