

/*partie copyright du site*/
 .copy{
    margin-right: 20px;
 }
 
 /*modification du background de la barre du haut complete*/
 .haut{
   
   background: linear-gradient(90deg, rgb(182 145 102 / 95%) 17%, rgb(246 244 235 / 95%) 100%);

    padding: 0;
 }

 /*modification du background de la barre du bas complete*/
 .bas{
   background: linear-gradient(90deg, rgb(182 145 102 / 95%) 17%, rgb(246 244 235 / 95%) 100%);
  font-size: 12px;
    
 }   
.zfoot{
   text-decoration: none !important;
}