@import url('https://fonts.cdnfonts.com/css/diphylleia');
@import url("https://fonts.cdnfonts.com/css/poppins");


body {
  background-color: #D9D9D9;

}

/*Partie presentation*/
.titledusite{
  font-family: 'Diphylleia', sans-serif;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-align: center;
  font-size: 65px;
}

.col-md-6 {
  text-align: center;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  letter-spacing: 4px;
  text-align: justify;
  margin-bottom: 0;



}

#para1 {
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 2px;

}

.corp1 {
  margin-top: 100px;
}

/*Carousel*/

#carouselExampleSlidesOnly {
  margin-top: 80px;
  margin-bottom: 80px;
}

/*Partie contact*/

#titresection {
  font-family: 'Diphylleia', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

#infos {
  font-size: 12px;
  letter-spacing: 3px;
}

.logos1 {
  width: 70px;
  margin: 0
}

.logos2 {
  width: 100px;

}

.question {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-top: 25px;
  margin-bottom: 100px;

}

.contacte {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  text-align: center;
}

.zcom {
  margin-bottom: 150px;
}

/*Partie vous avez des question*/
.titlequest{
  font-family: 'Diphylleia', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

/*Partie Map nous trouver*/

.adresse {
  text-align: right;
  font-family: "Poppins", sans-serif;
}


.map-container iframe {
  width: 100%;
  height: 350px;
  border: 2.5px solid rgba(0, 0, 0, 0.534);
  box-shadow: rgba(0, 0, 0, 0.534);
  -webkit-box-shadow: inset -1px 3px 8px 5px black, 2px 5px 16px 0px black, 5px 5px 46px 32px rgba(0, 0, 0, 0.17);
  box-shadow: inset -1px 3px 8px 5px white, 2px 5px 16px 0px black, 5px 5px 46px 32px rgba(0, 0, 0, 0.17);

}

/* Partie row maps*/

.cadre {
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.592);
  border-radius: 10px;
  box-shadow: gray;
  -webkit-box-shadow: inset -1px 3px 8px 5px black, 2px 5px 16px 0px black, 5px 5px 46px 32px rgba(0, 0, 0, 0.17);
  box-shadow: inset -1px 3px 8px 5px white, 2px 5px 16px 0px black, 5px 5px 46px 32px rgba(0, 0, 0, 0.17);
}

/*Bouton pour rediriger vers formulaire de contact*/

.ucta {
  position: relative;
  margin-left: 100px;
  padding: 16px;
  transition: all 0.2s ease;
  overflow: visible;
  display: flex;
  /* Utilisé pour aligner le texte et la flèche horizontalement */
  align-items: center;
  /* Aligne verticalement le texte et la flèche */
}


.ucta::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  /* Positionné à gauche, à ajuster selon la taille du rond */
  transform: translateY(-50%);
  display: block;
  border-radius: 28px;
  background: #dc3545;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;

}

.ucta span {
  position: relative;
  font-family: 'Diphylleia', sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 900;
  color: black;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  margin-right: 4px;
  /* Espace entre le texte et la flèche */
  z-index: 1;
  /* Assure que le texte est au-dessus du rond */

}

.ucta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: black;
  stroke-width: 2;
  transform: translateX(-7px);
  transition: all 0.3s ease;
  display: block;

}

.ucta:hover::before {
  width: calc(92%);
  /* Expansion contrôlée de la largeur */
  left: 10px;
  background: rgba(8, 127, 8, 0.724);
}

.ucta:hover svg {
  transform: translateX(0);
}

.ucta:active {
  transform: scale(0.96);
}

.ucta-se {
  font-family: 'Diphylleia', sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 900;
  color: black;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}